name: Windows RDP

on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
    - name: Enable RDP
      run: |
        net user runneradmin P@ssw0rd123
        net localgroup administrators runneradmin /add
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

    - name: Show RDP Info
      run: |
        echo "USERNAME: runneradmin"
        echo "PASSWORD: P@ssw0rd123"
